//@theme "/home/yeom/.config/rofi/themes/nord.rasi"
//@theme "/home/yeom/.config/rofi/themes/nord.rasi"
//@theme "/home/yeom/.config/rofi/themes/nord.rasi"
//@theme "/home/yeom/.config/rofi/themes/nord.rasi"
//@theme "/home/yeom/.config/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/yeom/.config/rofi/themes/arthur.rasi"
@theme "/home/yeom/.config/rofi/themes/slate.rasi"
